.detalle{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-top: 1rem;
    color:blanchedalmond;
    padding: 1rem;
}

.detalleInfo h2{
    font-size: 5rem;
    margin: 0;

}

.img img{
    height: 30rem;
    border-radius: 15rem;
}

.detalleInfo h3{
    font-size: 2rem;

}
.detalleInfo{
    background-image: url("../../img/giphy.gif");
    height: 30rem;
    margin-right: 1rem;
;
}
.img{
   /* background-image: url("../../img/giphy.gif"); */
   background-image: url("../../img/rymimagen.gif");
}
